.categories {
    padding: 6rem 2rem 1rem 5rem;
    position: fixed;
    color: var(--text-color-primary);
    background-color: var(--background-color);
    z-index: 1;
    width: 100vw;
}

.gap-large {
    gap: 2rem;
}

.border-bottom {
    border-bottom: 1px solid var(--text-color-primary);
}

.button.btn-category {
    padding: 0;
    top: 6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    height: 24px;
    width: 24px;
}

.btn-left {
    position: absolute;
    left: 1rem;
}

.btn-right {
    position: absolute;
    right: 5rem;
}

.category-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    font-size: 1rem;
}